.mb-3 input{
    background-color:rgba(128, 128, 128, 0.155);
    border-radius: 50px;
    border: 1px solid rgba(115, 171, 203, 0.662);
}

input{
 
    background-color: rgba(168, 65, 65, 0.468);
}

*{
    margin: 0;
}

body{
    margin: 5px;
}

.container{
    margin: 10px;
}

#log-btn{
  padding: 15px 40px;
  margin-top: 30px;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  
}

footer{
   
    
    margin-top: 30px;
}